.tekst_bialy {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff;}
.tekst_bialy_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
background: #20394d;
}
.im {border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;}
.auth {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #545454; text-decoration: underline}
.tekst_szary {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-align: left;}
.tekst_szary_bold {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #545454; font-weight: bold;}
.tekst_czerwony {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ca0b0c;}
.tekst_czerwony_temat {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #993300; font-weight: bold;}

.ticker {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #ffffff;
	background-color: #993333;
}

div#left strong
{
color:#a72a30;
}

a.tekst_bialy_menu, a.tekst_bialy_menu:visited { font-family: Arial;  color: #ffffff; font-size: 11px; font-weight: bold; text-decoration: none }
a.tekst_bialy_menu:hover { color: #ffffff; text-decoration: underline}

a.link_czerwony {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; text-decoration: none}
a.link_czerwony:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; text-decoration: none}

a.link {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; text-decoration: none}
a.link:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; text-decoration: underline}

a.czerwone_litery {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; font-weight: bold; text-decoration: none}
a.czerwone_litery:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #20394d; font-weight: bold; text-decoration: underline}
.szukaj_pole {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px;
	width: 120px;
	background-color: #ffffff;
	color: #545454;
}
.pole_txt {
	BORDER-RIGHT: #20394d 1px solid;
	BORDER-TOP: #20394d 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #20394d 1px solid;
	COLOR: black;
	BORDER-BOTTOM: #20394d 1px solid;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left
}
.podpowiedzinfo{
	width:1px;
	background-image: url(../images/pointgray.gif);
	background-repeat: repeat-y;
	background-position: left;
	margin-left: 10px;
}
.podpowiedz {
	MARGIN-TOP: 4px;
	VERTICAL-ALIGN: top;
	COLOR: #9E9E9E;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none;
	font-size:8pt;
}
.przycisk {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #000000 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #000000 1px solid;
	WIDTH: 100px;
	CURSOR: pointer;
	COLOR: white;
	BORDER-BOTTOM: #000000 1px solid;
	BACKGROUND-COLOR: #a72a30;
	TEXT-ALIGN: center;
}

.pole_form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px;
	background-color: #ffffff;
	color: #545454;
	border: 1px solid #666666;
}

.pole_form_big {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #ffffff;
	color: #545454;
	border: 1px solid #666666;
}


.lista {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #ffffff;
	color: #444444;
	border: 1px solid #cccccc;
}
.tytul_dzialu1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13pt;
	VERTICAL-ALIGN: top;
	COLOR: #191970;
	TEXT-ALIGN: left;
	TEXT-DECORATION: none
}
.tytul_dzialu {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #a72b32;
			font-weight: bold;
			text-align: center;
}
SELECT.dropdown {
	BORDER-RIGHT: #a72b32 1px solid;
	BORDER-TOP: #8fa2cd 1px solid;
	FONT-SIZE: 11px;
	BORDER-LEFT: #8fa2cd 1px solid;
	COLOR: black;
	BORDER-BOTTOM: #8fa2cd 1px solid;
	BACKGROUND-COLOR: white;
	TEXT-ALIGN: left;
	FONT-SIZE: 11px;
}

.link_lista {
	font-family: Arial, Helvetica, sans-serif;
	color: #ca0b0c;
	cursor: pointer;
	font-size: 8pt;
	
}
.stopka {
font-family: arial;
font-size: 9px;
color: #bdbdbf;
}
.tekst_szary10 {
font-family: arial;
font-size: 10px;
color: #7a7a7a;
 text-align: justify;
}

#lightbox{display:none;}
#overlay{display:none;}



.div1, .file_list {text-align: left; color: #484B50; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;}
.div1 {width: 100%; padding: 10px;}
.file_list {width: 100%; border: 1px solid #434343; background-color: #ffffff;}
.file_list input {font: 12px Arial; border: 1px solid #c3c3c3; margin-top: 1px;}
.myForm {font: 12px Arial; border: 1px solid #636363; margin-top: 1px;}
.fdescr {width: 300px;}
.xfname  {color: #333;}
.xdescr  {color: #aaa;}

.data {border-collapse:collapse; background-color: #e9e9e9; width: 400px; margin-bottom: 3px;}
.data TR TD {border: 1px solid #a3a3a3; font: 12px Arial;}
.bar1 {border: 1px solid #a3a3a3; background-color: #f6f6f6; text-align: left; vertical-align: middle; height: 20px; width: 100%;}
.bar2 {width: 1%; background-color: #a72b32; height: 20px; text-align: left;}
.message {width: 400px; height: 1px; border: 1px solid #909090; font: 11px Arial; margin-top: 5px; text-align: left; padding-left: 3px; background-color: #f9f9f9;}
.myLink  {font: bold 13px Arial; color: #303030; text-decoration: none;}
.btn     {font: 12px Arial; border: 1px solid #a3a3a3; background-color: #e9e9e9; margin-top: 3px; margin-bottom: 5px;}
.bar_table {width: 100px; background-color: #707070;}
.bar_table TR TD {border: none;}
.sbar {background-color: #e9e9e9; height: 60px;}
#settings {font: 12px Arial;padding:0px;}
body 
{
	text-align: center;
	font-family: Tahoma;
	font-size: 12px;
	color: #4F4F4F;
}

a
{
	color: #264156; 
}

a:hover 
{
	text-decoration: none; 
}

div#body
{
	width: 957px;
	margin: 0px auto; 
}

h1 
{
	display: block;
	width: 269px;
	height: 83px;
	background: url(images/logo_ic.jpg) no-repeat;	 
}

h1 span
{
	display: none; 
}

.clear
{
	clear: both;
}

div#top 
{
	width: 957px;
	text-align: left;
	margin: 0 0 0px 0px;
	clear: both;
	height: 100px;
}

div#top div#logo 
{
	float: left;
	width: 450px;
	height: 100px;
}

div#top div#language
{
	float: right;
	text-align: right;
	width: 450px;
	height: 100px;
	padding: 50px 0 0 0;
	line-height: 22px;
}

div#content 
{
	background: url(images/bg_body.jpg) no-repeat; 
	width: 957px;
	height: auto;
	padding: 211px 0 0 0;
	text-align: left;
	margin: 0 0 20px 0;
}

div#content div#left 
{
	width: 302px;
	height: auto; 
	float: left;
}

div#content div#right 
{
	width: 625px;
	height: auto; 
	background: url(images/bg_right.jpg) no-repeat;
	padding: 100px 0 0 0;
	float: left;
	text-align: justify;
	padding: 100px 15px 15px 15px; 
	line-height: 22px;
}

div#content div#left div#login
{
	width: 302px;
	height: 156px;
	background: url(images/bg_login.jpg) no-repeat;
	padding: 15px;
}

div#content div#left div#login label
{
	color: #FFFFFF; 
	display: block;
	font-size: 11px;
	font-weight: bold;
}

div#content div#left div#login p
{
	margin: 5px 0 10px 0;
}

div#content div#left div#login input
{
	font-size: 11px;
	color: #FFFFFF;
}

div#content div#left div#login .registry
{
	margin-left: 45px;
}

div#content div#left div#login p#buttons
{
	margin: 15px 0 0 0;
}

div#content div#left div#login input.text
{
	border: 1px solid #7E7E7E;
	background: url(images/bg_input.jpg) repeat-x;
	width: 265px;
	font-size: 11px;
	padding: 3px;
	color: #4F4F4F;
	font-weight: normal;
}

ul.menu
{
	list-style-type: none;
	margin: 0; 
	padding: 0;
	width: 285px;
	margin: 0 0 0 10px;
}

ul.menu li
{
	display: block;
	padding: 10px;
	border-bottom: 1px dotted #1E374B;
}

div#footer 
{
	clear: both;
	height: auto;
	padding: 20px;
	text-align: center;
	border-top: 1px dotted #1E374B;
	margin: 400px 0 0 0;
	line-height: 22px;
}

div#footer a
{
	font-weight: bold; 
}

li.zomg {
	color: #264156;
	text-decoration: underline;
	cursor: pointer;
}

li.zomg:hover {
	text-decoration: none;
}